h1 {
	color: red;
}
p.new {
	color:white ;
	background:blue ;
	width:100px ;
	height:80px ;
	margin-bottom:100px ;
}
span.first {
	color:red ;
}
div.second {
	color: white;
	background: green;
	height: 30px;
	box-sizing: border-box;
}
h2.text {
	color:white ;
	background:green ;
	height:120px ;
	padding-left:35px ;
{

