h1 {
	color: red;
}
p.new {
	color:white ;
	background:blue ;
	width:100px ;
	height:80px ;
	margin-bottom:100px ;
}
span.first {
	color:red ;
}
div.second {
	color: white;
	background: green;
	height: 30px;
	box-sizing: border-box;
}
h2.text {
	color:white ;
	background:green ;
	height:120px ;
	padding-left:35px ;
}
p.text {
	padding-left: 120px;
}
li {
	border: 2px solid black;
	font-size: 30px;
}
li.text {
	margin-top:40px;
}
div.first {
	color: white;
	background: green;	
	height: 30px;
	box-sizing: border-box;
	margin-bottom:20px ;	
}

